$section_left: 20%;
$section_right: 80%;


.color-section {
  background: linear-gradient(to bottom, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  color: white;
}
.section {
  padding: 0 5%;
  .section-left {
    width: $section_left;
    display: inline-block;
    padding: 5% 0;
    vertical-align: top;
    .title {
      h1 {
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 1.3vw;
      }
      h1::after {
        content: ' ';
        display: block;
        width: 20%;
        margin: 10px 0;
      }
      i {
        font-size: 3vw;
        font-weight: 100;
      }
    }
  }
  .section-right {
    vertical-align: top;
    padding: 5% 0;
    width: $section_right;
    display: inline-block;
  }
}
.animation-section {
  animation-name: downToUp;
  animation-duration: 500ms;
  animation-timing-function: linear;
}

@keyframes downToUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}