.works-item {
  width: 50%;
  display: inline-block;
  margin-bottom: 60px;
  a {
    display: block;
    text-decoration: none;
  }
  .works-item-img img{
    width: 90%;
    border: 1px solid #eee;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .works-item-title {
    h2 {
      color: #2473a0;
      font-size: 1vw;
      margin-bottom: 10px;
    }
  }
  .tags {
    .tag {
      border: 1px solid #ddd;
      display: inline-block;
      border-radius: 6px;
      padding: 8px 10px;
      font-size: 0.6vw;
      color: #aaa;
      text-transform: uppercase;
      margin-right: 5px;
    }
  }
}