.header-section {
  .header-myName {
    padding: 2% 0 0 0;
    h2 {
      font-weight: 100;
      color: #deeef5;
      font {
        margin-right: 5px;
      }
      strong {
        color: white;
      }
    }
  }
  .header-about {
    padding: 10% 0 13% 0;
    h1 {
      color: white;
      font-size: 3vw;
    }
    h1::after {
      content: ' ';
      display: block;
      width: 3%;
      margin: 10px auto 0 0;
      border: 2px solid #fff;
    }
    p {
      font-size: 1vw;
    }
  }
}